<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Don't mourn, organize!" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Donation match party!</title>
  <meta property="og:title" content="Donation match party! 💸🎉" />
  <meta property="og:description" content="Don't mourn, organize!" />
  <meta property="og:type" content="website" />
  <meta name="twitter:title" content="Donation match party! 💸🎉">
  <meta name="twitter:description" content="Don't mourn, organize!">
  <meta property="og:image" content="https://cdn.glitch.com/a97eaaa6-67f2-4422-b383-5b7b6e7d5b66%2Fthumbnail.png" /> 
  <meta property="twitter:image:src" content="https://cdn.glitch.com/a97eaaa6-67f2-4422-b383-5b7b6e7d5b66%2Fthumbnail.png" /> 
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@dmpartytweets" />
  <meta name="twitter:domain" content="https://donationmatch.party/" />
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.min.css">
  <!-- TODO: Use favicon-generator.org to create favicons. -->
  <!--
  <link rel="shortcut icon" href="TODO:URL"/>
  <link rel="apple-touch-icon" sizes="57x57" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="60x60" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="72x72" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="76x76" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="114x114" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="120x120" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="144x144" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="152x152" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="180x180" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="192x192"  href="TODO:URL">
  <link rel="icon" type="image/png" sizes="32x32" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="96x96" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="16x16" href="TODO:URL">
  -->
  <link rel="manifest" href="TODO:URL">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather" rel="stylesheet" type="text/css">
</head>
<body id="top">
  <main>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid">
      {{{body}}}
  </main>
  <footer>
      <p>
<!--
<a class="btn" href="https://glitch.com/edit/#!/{{ project_name }}">View source on Glitch</a>
-->
        <span class="data-last-modified">Last updated: {{{data_last_modified}}}</span> |
        <a href="https://twitter.com/dmpartytweets">@dmpartytweets</a> |
        <a href="https://glitch.com/edit/#!/donation-match-party">View source</a>
      </p>
  </footer>
  <div class="bottom-page-links">
    <a id="back-to-top" title="Go back all the way to the top of this page" href="#top" class="slide-down">
      <img src="https://cdn.glitch.com/ade603f9-216b-48b0-a9d1-90c922a7237a%2Farrow-up.svg?1508359751921">
    </a>
  </div>
  <script>
    var node = document.createElement('style');
    node.innerHTML = '.shifted{-webkit-transition:all 1s;transition:all 1s;-webkit-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);opacity:0}';
    document.body.appendChild(node);
  </script>
  <script defer src="js/scripts.min.js"></script>
  <script defer src="libs/sorttable/sorttable.js"></script> 
    <!-- Default Statcounter code for donationmatch.party
  https://donationmatch.party -->
  <script type="text/javascript">
  var sc_project={{ sc_project }}; 
  var sc_invisible=1; 
  var sc_security="{{ sc_security }}"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="Web Analytics"
  href="http://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="//c.statcounter.com/11753582/0/bf8c7649/1/" alt="Web
  Analytics"></a></div></noscript>
  <!-- End of Statcounter Code -->
  </body>
</html>